@import "~video-react/dist/video-react.css";

.HomeStyle
{
  width:100%;
  /* background:yellow; */
  display:flex;
  flex-wrap: wrap;
}
.videoStyle
{
  width:100%;
  height:80%;
  cursor: pointer;
  /* background: black */
}
.videoGrid
{
  width:32%;
  margin:8px;
  height: 100%;
  /* background:orange */
}
.videoTitle
{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px
}
.videoClickDescription
{
  font-weight:bold;
  margin:8px 0px 8px 0px
}
p{
  margin: 0
}
