@import "~video-react/dist/video-react.css";

.modalContainer {
  position: absolute  ;
  /* background: yellow */
}

.fade:not(.show) {
    opacity: 1;
    background: rgb(0,0,0,0.3)
}

.modalBody
{
  /* background: orange; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    top: 150px
}

.HomeStyle
{
  width:100%;
  /* background:yellow; */
  display:flex;
  flex-wrap: wrap;
}
.uploadVideoBtn
{
  position: absolute;
  top: 62px;
  right: 10px;
  height: 30px;
  width: 117px;
  background: #20a8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.uploadVideoBtn:hover
{

  background: #15789b;
  cursor: pointer;
}
input[type="file"] {
    display: none;
}
.loadingg
{
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoLoadingText
{
  color: white;

}
