.screenshotPage
{
  width: 100%;
  height: 500px;
  /* background: red */
}
.combineBtn
{
  width:20%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  /* color: white; */
  /* background-color: blue */
}
.ShareBtnDiv
{
  display: flex;
  justify-content: center;
  margin-top: 10px
}
.WhatsappBtn{
  display: flex;
  align-items: center;
  width: 16%;
  background: rgb(44, 183, 66);
  color: white;
  border-radius: 4px;
  justify-content: center;
  height: 37px;
  margin-right: 25px;
  cursor: pointer;
}
.whatsAppTitle
{
  height: 37px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.EmailBtn
{
  display: flex;
  align-items: center;
  width: 16%;
  background: rgb(127, 127, 127);
  color: white;
  border-radius: 4px;
  justify-content: center;
  height: 37px;
  cursor: pointer;
}
.emailTitle
{
  height: 37px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.combinedImg
{
  display: flex;
  justify-content: center;
}

.DownloadBtn
{
  display: flex;
  align-items: center;
  width: 16%;
  /* background: rgb(44, 183, 66); */
  color: white;
  border-radius: 4px;
  justify-content: center;
  height: 37px;
  margin-right: 25px;
  cursor: pointer;
}
.DownloadBtnLogo
{
    object-fit: scale-down;
    width: 16px;
    margin-right: 6px;
}
