@import "~video-react/dist/video-react.css";

.modalContainer {
  position: absolute  ;
  /* background: yellow */
}

.fade:not(.show) {
    opacity: 1;
    background: rgb(0,0,0,0.3)
}

.modalBody
{
  /* background: orange; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    top: 150px
}

.HomeStyle
{
  width:100%;
  /* background:yellow; */
  display:flex;
  flex-wrap: wrap;
}
.videoStyle
{
  width:100%;
  height:80%;
  cursor: pointer;
  /* background: black */
}
.videoGrid
{
  width:32%;
  margin:8px;
  height: 100%;
  /* background:orange */
}
.videoTitle
{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px
}
/* .videoClickDescription
{
  font-weight:bold;
  margin:8px 0px 8px 0px
} */
p{
  margin: 0
}

.newsTickerBtn
{
  width: 49%;
  height: 34px;
  margin-right: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.transcriptionBtn
{
  width: 49%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.TickerLimitField
{
  border-radius: 4px;
  border: 1px solid gray;
  width: 100%;
}
.GetTickerBtn
{
  width: 30%;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clippingStartText
{
  width: 30%;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
}
.clippingEndText
{
  width: 84%;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
}
.clippingEnd
{
  width: 100%;
  /* display: flex;
  align-items: center; */
}
.clippingStart
{
  width: 100%;
  /* display: flex;
  margin-right: 15px;
  align-items: center; */
}

.ClippingDiv
{
  display: flex;
  margin-bottom: 6px;
  margin: 10px 0px 15px 0px
  /* flex-direction: column; */
}
.HHMMSS
{
  width: 50%;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 3px
}
.durationDiv
{
  width: 25%;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 8px;
  margin-left: 2%;
}
.ClipBtn
{
  margin-left: 2%;
  width: 21%;
  border-radius: 5px;
}
.BtnDiv
{
   width:100%;
   display:flex
}
.LogoDetectBtn
{
  width: 49%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  color: white;
  margin-left: 10px;
  margin-left: 2%
}
